[submodule "beatitud_back"]
	path = beatitud_back
	url = https://github.com/beatitud/beatitud-back.git
	branch = master
[submodule "back"]
	path = back
	url = https://github.com/beatitud/beatitud-back.git
[submodule "beatitud-showcase"]
	path = beatitud-showcase
	url = https://github.com/beatitud/beatitud-showcase.git
