events {

    worker_connections  1024;
}

http {

    server {
        listen 80 default_server;
        server_name *.${NGINX_HOST};


        location ^~ /.well-known {
            allow all;
            root  /data/letsencrypt/;
        }
    }
}